<!--
{   
    "Id":1,
    "Name":"GitHub",
    "Icon":null,
    "AverageRating":5,
    "SampleSize":1,
    "Highest":5,
    "Lowest":5
}
-->
<div class="row marketing">

    <div class="col-lg-12 organizer clearfix">
        <div class="inline-block">
            <ul uib-pagination items-per-page="$ctrl.orderItems.perPage"
                direction-links="false"
                ng-change="$ctrl.refresh()"
                ng-hide="$ctrl.busy || $ctrl.orderItems.totalItems < $ctrl.orderItems.perPage"
                total-items="$ctrl.orderItems.totalItems"
                ng-model="$ctrl.orderItems.page" max-size="10" class="pagination" boundary-links="true" rotate="false"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul></div>
        <div ng-if="$ctrl.busy" class="inline-block">
            <span class="fa fa-lg fa-spinner loading-spinner" aria-hidden="true"></span> Loading...
        </div>
        <div ng-if="$ctrl.failed" class="inline-block">
            <span class="fa fa-lg fa-ban text-danger" aria-hidden="true"></span> Loading failed <a ng-click="$ctrl.refresh()">Try again</a>
        </div>
        <div class="inline-block pull-right">
            <order-ui id="Items" order="$ctrl.orderItems"
                      update="$ctrl.refresh()"
                      disabled="$ctrl.busy"></order-ui>
        </div>
    </div>
    <div class="result-list col-lg-12">
        <div ng-if="!$ctrl.busy"
             ng-repeat="item in $ctrl.items"
             class="col-md-6">

            <div class="inline-block item-icon">
                <span class="fa fa-{{item.icon}}" ng-style="{color:item.color}" aria-hidden="true"></span>
            </div>

            <div class="inline-block">
                <h4><a href="#!/review/{{item.id}}">{{ item.name }}</a></h4>
                <p>
                    <item-ui item-model="item"
                         read-only="true"></item-ui>
                    <div ng-if="item.date" class="text-muted">{{ item.date | date: "MMMM d, yyyy" }}, {{item.reviewCount}} Review{{item.reviewCount > 1?'s':''}}</div>
                    <div ng-if="!item.date" class="text-muted">No Reviews</div>
                </p>
            </div>
        </div>
    </div>
</div>