<!--
{   
    "Id":1,
    "Name":"GitHub",
    "Icon":null,
    "AverageRating":5,
    "SampleSize":1,
    "Highest":5,
    "Lowest":5
}
-->
<div class="row marketing">

    <div class="organizer clearfix">
        <div class="col-xs-4">
            <ul uib-pagination items-per-page="$ctrl.orderItems.perPage"
                direction-links="false"
                ng-change="$ctrl.refresh()"
                ng-hide="$ctrl.busy || $ctrl.orderItems.totalItems < $ctrl.orderItems.perPage"
                total-items="$ctrl.orderItems.totalItems"
                ng-model="$ctrl.orderItems.page" max-size="3" class="pagination" boundary-links="false" rotate="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul></div>
        <div class="col-xs-8">
            <order-ui id="Items" order="$ctrl.orderItems"
                      update="$ctrl.refresh()"
                      disabled="$ctrl.busy"></order-ui>
        </div>
    </div>

    <div class="result-list">
        <div ng-if="$ctrl.busy">
            <span class="fa fa-lg fa-spinner loading-spinner" aria-hidden="true"></span> Loading...
        </div>
        <div ng-if="$ctrl.failed">
            <span class="fa fa-lg fa-ban text-danger" aria-hidden="true"></span> Loading failed <a ng-click="$ctrl.refresh()">Try again</a>
        </div>
        <div ng-if="!$ctrl.busy"
             ng-repeat="item in $ctrl.items"
             class="col-sm-6">

        <item item-model="item" read-only="true" title-links-to-item="true"></item>
        </div>
    </div>
</div>