@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';
body {
    user-select:none;
    cursor:default;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
@font-face {
    font-family: bowtie;
    src: url(https://cdn.vsassets.io/v/20170302T003052/_content/Fonts/Icons/bowtie.woff);
}
.vso-icon::before {
    font-family:bowtie;
    content: "\e91d ";
    font-style:normal;
}

ul.project-details {
    padding-left: 0px;

    li {
        list-style-type: none;
        font-size: 16pt;
        margin-bottom: 6pt;

        ul {
            padding-left: 0pt;
            margin-bottom: 12pt;

            li {
                font-size: 12pt;
            }
        }
    }

    .fa {
        color: #666;
        font-size: 18pt;
        margin-right: 6pt;
    }
}
.inline-block {
    display:inline-block;
    vertical-align:text-top;
    &-middle {
        vertical-align:middle;
    }
    &-text-bottom {
        vertical-align:text-bottom
    }
}

.inline-block-90 {
    @extend .inline-block;
    max-width:85%;
}
[ng-click] {
    cursor:pointer;
}

.selectable {
    cursor:text;
    user-select:element;
    &-text {
        user-select:text;
    }

}


.organizer {
    background-color: #efefef;
    padding: 2pt;
    margin: 1pt;
    margin-bottom: 12pt;
    border-radius: 4pt;

    > div {
        margin-top: 2pt;
    }

    .col-sm-6 {
        padding: 1pt;
    }
}

.jumbotron {
    h1 {
        margin:0px;
    }
}
.result-list {

}
@import 'loading-spinner.scss';
@import 'catalog/catalog.scss';
@import 'review/review.scss';