@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';
body {
    user-select:none;
    cursor:default;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
@font-face {
    font-family: bowtie;
    src: url(https://cdn.vsassets.io/v/20170302T003052/_content/Fonts/Icons/bowtie.woff);
}
.vso-icon::before {
    font-family:bowtie;
    content: "\e91d ";
    font-style:normal;
}



.inline-block {
    display:inline-block;
    vertical-align:text-top;
    &-middle {
        vertical-align:middle;
    }
    &-text-bottom {
        vertical-align:text-bottom
    }
}

.inline-block-90 {
    @extend .inline-block;
    max-width:85%;
}
[ng-click] {
    cursor:pointer;
}

.selectable {
    cursor:text;
    user-select:element;
    &-text {
        user-select:text;
    }

}


.organizer {
    background-color: #efefef;
    margin-bottom: 12pt;
    border-radius: 4pt;

    > div {
        margin-top: 1pt;
    }

    .col-xs-6, .col-xs-8, .col-xs-4 {
        padding: 2pt;
    }
}

.result-list {

}
.jumbotron {
    h1 {
        margin:0px;
    }
}


@import 'help/help.scss';
@import 'components/item-ui-edit-comment/item-ui-edit-comment.scss';

@import 'loading-spinner.scss';
@import 'catalog/catalog.scss';
@import 'review/review.scss';