ul.project-details {
    padding-left: 0px;

    li {
        list-style-type: none;
        font-size: 16pt;
        margin-bottom: 6pt;

        ul {
            padding-left: 0pt;
            margin-bottom: 12pt;

            li {
                font-size: 12pt;
            }
        }
    }

    .fa {
        color: #666;
        font-size: 18pt;
        margin-right: 6pt;
    }
}
