<div class="row marketing">
    <form name="itemReviewForm">
        <item item-model="$ctrl.item" review-model="$ctrl.editing" change="$ctrl.edit(rating)"></item>
        
        <item-ui-edit-comment ng-if="$ctrl.editing" altered-model="$ctrl.editing"
                              on-save="$ctrl.saveEdit(promise)"
                              on-discard="$ctrl.discardEdit()"
                              form="itemReviewForm"></item-ui-edit-comment>
    </form>

    <hr>

    <div class="organizer clearfix">
        <div class="col-xs-4">
            <ul uib-pagination ng-change="$ctrl.refresh()"
                items-per-page="$ctrl.orderReview.perPage"
                total-items="$ctrl.orderReview.totalItems"
                ng-model="$ctrl.orderReview.page"
                ng-hide="$ctrl.busy || $ctrl.orderReview.totalItems < $ctrl.orderReview.perPage"
                max-size="3" class="pagination" boundary-links="false" rotate="true" direction-links="false"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ></ul>
        </div>
        <div class="col-xs-8">
            <order-ui id="{{$ctrl.item.id}}"
                      order="$ctrl.orderReview"
                      update="$ctrl.refresh()"
                      disabled="$ctrl.busy"></order-ui>
        </div>
    </div>

    <div class="result-list">
        <div ng-if="$ctrl.busy">
            <span class="fa fa-lg fa-spinner loading-spinner" aria-hidden="true"></span> Loading...
        </div>
        <div ng-if="$ctrl.failed">
            <span class="fa fa-lg fa-ban text-danger" aria-hidden="true"></span> Loading failed <a ng-click="$ctrl.refresh()">try again</a>?
        </div>
        <div ng-if="!$ctrl.busy"
             class="col-sm-6"
             ng-repeat="review in $ctrl.reviews">
            <span>{{ review.comment }}</span>
            <p>
                <item-ui review-model="review"
                        read-only="true"></item-ui>
                <div class="text-muted">{{ review.date | date: "MMMM d, yyyy" }}</div>
            </p>
        </div>
    </div>
</div>